@model KHLightTrail.VolumeData

@{
    ViewData["Title"] = $"檢視資料 {Model.Year}/{Model.Month}";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4 class="py-3">當月運量統計</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.TotalVolume)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TotalVolume)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.AverangeDailyVolume)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.AverangeDailyVolume)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.AvgHolidayVolume)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.AvgHolidayVolume)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.AvgBuyTicketWithCardOnPlatform)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.AvgBuyTicketWithCardOnPlatform)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.AvgBuyTicketWithCardOnTrain)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.AvgBuyTicketWithCardOnTrain)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.AvgBuyTicketFromTicketMachine)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.AvgBuyTicketFromTicketMachine)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.AvgRebuyTicket)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.AvgRebuyTicket)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.AvgBuyGroupTicket)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.AvgBuyGroupTicket)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.AvgBuyTicketByManual)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.AvgBuyTicketByManual)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">返回列表</a>
</div>