@model IEnumerable<KHLightTrail.VolumeData>

@{
    ViewData["Title"] = "高雄輕軌月均運量統計資料";
}

<h1 class="text-center py-3">@ViewData["Title"]</h1>

<div class="d-md-flex text-center text-md-left">
    <div class="flex-md-grow-1">
        <a class="btn btn-primary me-1 m-1" asp-action="Create">新增資料</a>
        <a class="btn btn-primary  m-1" asp-action="ImportFromOfficial">從政府公開資料匯入</a>
    </div>
    <a class="btn btn-danger m-1" asp-action="DeleteAll">刪除所有資料（按下即刪除！）</a>
</div>

<form asp-action="Index" method="get" class="text-center text-md-left m-3">
    <span>篩選年份</span>
    <input type="number" name="year" value="@ViewData["year"]" />
    <input type="submit" value="搜尋" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                年
            </th>
            <th>
                月
            </th>
            <th>
                總運量
            </th>
            <th>
                每日平均運量
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalVolume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverangeDailyVolume)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">檢視</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">編輯</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>